@using Blog.Entities.Models
@model Category
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_main.cshtml";
}
<div class="container mt-5">
    <h2 class="display-4">@Model.Name</h2>
    <p class="lead">@Model.Description</p>
    <p class="text-muted">Created on: @Model.CreatedTime.ToString("MMM dd, yyyy")</p>

    <h4 class="mt-4">Posts in this Category:</h4>
    <ul class="list-group list-group-flush">
        @if (Model.Posts != null && Model.Posts.Any())
        {
            foreach (var post in Model.Posts)
            {
                <li class="list-group-item">
                    <h5>
                        <a asp-action="GetPost" asp-controller="Home" asp-route-id="@post.Id" class="text-decoration-none">@post.Title</a>
                    </h5>
                    <p class="text-muted mb-0">@post.CreatedAt.ToString("MMM dd, yyyy")</p>
                </li>
            }
        }
        else
        {
            <li class="list-group-item">
                <p class="text-muted">No posts in this category yet.</p>
            </li>
        }
    </ul>
</div>
